<div class="container">

  <h1>Welcome</h1>
  <p>Thanks for visiting our shop </p>


  <% if user_signed_in? %>
      <strong><% current_user.first_name %></strong><br />
      <%= link_to "Edit profile", edit_user_registration_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
  <% end %>

</div>


